/*

FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;

*/

h1 {
	display: inline-block;
	color: yellow;
	padding: 10px;
	font-family: "Merriweather", serif;
}

.nav {
	display: inline;
	text-decoration: none;
	float: right;
	color: white;
	font-family: Source Sans Pro;
	padding: 20px;
}

header {
background: black;
border-bottom: yellow solid 3px;
}

h2 {
	font-family: "Merriweather";
	background: #C6C6C6;
	text-align: center;
	font-size: 20px;
	height: 30px;
}

h3 {
	font-family: "Merriweather"

}
p{
font-family: "Source Sans Pro"
}

.photo {
	background-image: url(coworking.jpg);
	width: 100%
}
.match {
	float: right;
	background: white;
	padding: 10px;
}
button {
font-family: Oswald;
background: #C6C6C6
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
}
article {
	display: flex row ;
	flex-basis: auto;
	width: 30%;
}


