/*

FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;

*/

h1 {
	margin: 0;
	display: inline-block;
	color: yellow;
	padding: 10px;
	font-family: "Merriweather", serif;
}

.nav {
	display: inline;
	float: right;
	font-family: Source Sans Pro;
	padding: 20px;
}

.nav a {
	text-decoration: none;
	color: white;
}

header {
	background: black;
	border-bottom: yellow solid 3px;
}

h2 {
	font-family: "Merriweather";
	background: #C6C6C6;
	text-align: center;
	font-size: 20px;
	height: 30px;
	margin: 0;
}

h3 {
	font-family: "Merriweather"

}
p{
	font-family: "Source Sans Pro"
}

.background_image {
	background-image: url("../img/coworking.jpg");
	background-repeat: no-repeat;
	height: 600px;
	background-size: 100%;
	background-position: center;
}
.match {
	float: right;
	background: white;
	padding: 10px;
	width: 300px;
	margin: 30px;
}

button {
	font-family: Oswald;
	background: #C6C6C6;
	border: none;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	padding: 0 10px;
}

.panels {
	display: flex;
	flex-basis: auto;
	padding: 0 20px;
}

article {
	padding: 20 40px;
}

footer {
	margin: 0;
}

