body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
nav {
	background-color: black;
}

a {
	color: #cccccc;
	display: inline-block;
	padding: 40px 20px;
text-decoration: none;
}

a:hover {
	background-color: #ff7401;
	color: #ffffff;
}

